---
---

.card-background {
  background-color: {{ "#" | append: site.background }}
}

.card {
  font-family: {{ site.font }}
  font-size: 16px;
  font-weight: 400;
  padding: 2em;
  line-height: 1.5;
  border-radius: 2px;
  width: 80%;
}

.card:hover {
  position: relative;
  box-shadow: 2px 2px 2px #969696;
}

.content {
  max-width: 750px;
  margin: 0 auto;
  position: relative;
  padding: 50px 50px;
  justify-content: center;
  display: flex;
}

/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}
