@import url("css/code.css");
@import url("css/card.css");

%extend1 {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 100%;
}

html {
  @extend %extend1;
}

body {
  background-position: center center;
  background-attachment: fixed;
  background-image: none !important;
  background: $white;
}


.header {
  height: 100%;
  position: relative;
  margin: 200px 300px 100px 300px;
  min-height: 300px;
  min-width: 100px;
  text-align: left;
  color: $white;
  @media #{$small} {
    display: block !important;
  }
  @media only screen and (max-height: 500px) {
    display: block !important;
  }
}

canvas {
  position: fixed;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  margin-left: 0em;
}

img {
  max-width: 100%;
  vertical-align: middle;
}
