---
layout: default
---

<div class="card yellow-background">
  {% if page.title %}
  <h1 class="page-heading">{{ page.title }}</h1>
  {% endif %}

  {{ content }}

  {% if site.posts.size > 0 %}
  <h3>{{ page.list_title | default: "Posts:" }}</h2>
  <ul>
    {% for post in site.posts %}
    <li>
    <h3>
      <a class="post-link" href="{{ post.url | relative_url }}">
        {{ post.title | escape }}
      </a>
    </h3>
    <p>
    {% if site.show_excerpts %}
    {{ post.excerpt }}
    {% endif %}
    </p>
    {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
    <span class="post-meta">{{ post.date | date: date_format }}</span>
    </li>
    {% endfor %}
  </ul>
  {% endif %}
</div>
